/* app global css */
--q-primary {
  color: #ff913e;
}
.titleLink:link {
  color: white;
  text-decoration: none;
}
.titleLink:visited {
  color: white;
}

.titleLink:hover {
  color: white;
}

.titleLink:active {
  color: white;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #ff9500 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track--light {
  background: #ffffff;
}
*::-webkit-scrollbar-track--dark {
  background: #121212;
}
*::-webkit-scrollbar-thumb {
  background-color: #ff9500;
  border-radius: 10px;
  border: 3px none #ffffff;
}
