/* app global css */
--q-primary {
  color: #ff913e;
}
.titleLink:link {
  color: white;
  text-decoration: none;
}
.titleLink:visited {
  color: white;
}

.titleLink:hover {
  color: white;
}

.titleLink:active {
  color: white;
}
